In [1]:
import pandas as pd

In [26]:
df = pd.read_csv('datasets/Untitled Folder/recommendations.csv')

C:\Users\Tommy\anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,app_id,helpful,funny,date,is_recommended,hours,user_id,review_id
0,975370,0,0,2022-12-12,True,36.3,47199.0,0.0
1,304390,4,0,2017-02-17,False,11.5,2376.0,1.0
2,1085660,2,0,2019-11-17,True,336.5,230757.0,2.0
3,703080,0,0,2022-09-23,True,27.4,235736.0,3.0
4,526870,0,0,2021-01-10,True,7.9,21721.0,4.0
...,...,...,...,...,...,...,...,...
9501160,1007040,0,0,2022-11-24,True,42.3,11063868.0,9501160.0
9501161,1007040,0,0,2021-07-08,True,97.8,7863650.0,9501161.0
9501162,1007040,0,0,2019-12-21,True,14.8,10205722.0,9501162.0
9501163,1007040,0,0,2019-12-27,True,117.2,11241105.0,9501163.0
9501164,1007040,2,0,2019-07-12,True,176.5,8262411.0,9501164.0

In [27]:
df.dropna(inplace= True)

In [31]:
new_df = df[['app_id', 'user_id', 'is_recommended']]

In [32]:
from surprise import Reader, Dataset
reader = Reader()
data = Dataset.load_from_df(new_df,reader)

In [35]:
from surprise.model_selection import cross_validate
from surprise.prediction_algorithms import SVD
from surprise.prediction_algorithms import KNNWithMeans, KNNBasic, KNNBaseline
from surprise.model_selection import GridSearchCV
import numpy as np

knn_basic = KNNBasic(sim_options={'name':'pearson', 'user_based':True})
cv_knn_basic = cross_validate(knn_basic, data, n_jobs=-1)

for i in cv_knn_basic.items():
    print(i)
print('-----------------------')
print(np.mean(cv_knn_basic['test_rmse']))

('test_rmse', array([0.38235622, 0.38255437, 0.3828507 , 0.38277303, 0.38278403]))
('test_mae', array([0.14619628, 0.14634784, 0.14657466, 0.14651519, 0.14652361]))
('fit_time', (2.013617753982544, 1.866011142730713, 1.5987260341644287, 1.7971956729888916, 1.8650147914886475))
('test_time', (23.659751892089844, 23.614871978759766, 20.275798320770264, 19.399141788482666, 18.062713623046875))
-----------------------
0.3826636682221782

In [ ]:
import statsmodels.api as sm

X = df[['positive_ratio', 'user_reviews', 'price_final', 'price_original', 'discount']]
y = df.rating

baseline_model = sm.OLS(y, sm.add_constant(X_baseline))
baseline_results = baseline_model.fit()

print(baseline_results.summary())

In [ ]:
from sklearn.tree import