In [2]:
import pandas as pd

In [5]:
df = pd.read_csv('datasets/imdb-videogames.csv', index_col= 0)

In [10]:
df.dropna(axis= 0, subset= ['rating'], inplace= True)

In [14]:
df

,name,url,year,certificate,rating,votes,plot,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20759,Jaws,https://www.imdb.com/title/tt0186251/?ref_=adv...,1987.0,NaN,5.3,164,"Loosely based on Jaws (1975) and its sequels, ...",False,False,False,False,False,False,False,False,True
20760,Do you copy?,https://www.imdb.com/title/tt9507328/?ref_=adv...,2017.0,NaN,7.9,17,It's a normal night in Tower 4 at the Gracewin...,False,False,False,False,False,False,False,False,True
20772,A Night in Berlin,https://www.imdb.com/title/tt12866846/?ref_=ad...,2020.0,NaN,5.4,6,A Night in Berlin is a third-person shooter fo...,True,False,False,False,False,False,False,False,True
20774,Road to Hell,https://www.imdb.com/title/tt5065386/?ref_=adv...,2013.0,NaN,6.0,30,Add a Plot,False,False,False,False,False,False,False,False,True
20791,Revenge,https://www.imdb.com/title/tt4368634/?ref_=adv...,2012.0,NaN,5.1,25,Add a Plot,False,False,False,False,False,False,False,False,True